.selectedSectionbg {
  background-image: url("https://cdn.shopify.com/s/files/1/0649/1399/8024/files/Single_product_page.png?v=1717691471");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
