.cartpSectionbg {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/octa-tech-2f77d.appspot.com/o/Googly-Data%2Fcart.png?alt=media&token=b2ed4bb9-979a-4c2c-8e81-abb8946d63e2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
