.aboutSectionbg {
  background-image: url("https://cdn.shopify.com/s/files/1/0649/1399/8024/files/About.png?v=1717691123");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
